﻿@model IEnumerable<PyrusApp.Models.CraigslistAd>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="boxPlot"><!-- Plotly chart will be drawn inside this DIV --></div>
</script>

<script>

    var x = {};
    @{
        var sortedModel = Model.OrderBy(modelItem => modelItem.AskingPrice);
        var prices = new int?[@Model.Count()];

        for (int i = 0; i < Model.Count(); i++)
        {
            prices[i] = sortedModel.ElementAt(i).AskingPrice;
        }
    }

    x = @Html.Raw(Json.Encode(prices));
    var trace1 = {
        x,
        type: 'box',
        name: 'US Dollars'
    };

    var data = [trace1]

    var layout = {
        title: 'Price Box and Whiskers chart'
    };

    Plotly.newPlot('boxPlot', data, layout);
</script>


