﻿@model IEnumerable<PyrusApp.Models.CraigslistAd>

<table class="display col-lg-12" id="resultsTable">
    <thead>
        <tr>
            <th>
                @*Placeholder for hidden price column*@
            </th>
            <th id="resultsTableHeader">
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {


            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.AskingPrice)
                </td>

                <td id="resultsTableRow">
                    <div id="resultTitle" class="row">

                        <div class="cityAndCategoryContainer">
                            <span class="city">@Html.DisplayFor(modelItem => item.City)</span>
                            <span class="category">@Html.DisplayFor(modelItem => item.Category)</span>
                        </div>

                        <a href=@Html.DisplayFor(modelItem => item.URL) target="_blank">
                             @Html.DisplayFor(modelItem => item.Title)
                        </a>

                        @if (@Html.DisplayFor(modelItem => item.AskingPrice).ToString() != "")
                        {
                            <span class="price">$@Html.DisplayFor(modelItem => item.AskingPrice)</span>
                        }
                        else
                        {
                            //<span class="priceNotListed">Price not listed</span>
                        }
                        @{ 
                            var timeStamp = @Html.DisplayFor(modelItem => item.TimeStamp).ToString();
                            var dateTime = System.Convert.ToDateTime(timeStamp);



                         }
                        <div class="dateContainer">


                            <span class="date">@dateTime.Date</span>
                        </div>






</div>

                    <div class="row">

                            <div class="col-lg-4">
                                <a href=@Html.DisplayFor(modelItem => item.URL) target="_blank">

                                    <img class="itemPhoto" src=@if(@Html.DisplayFor(modelItem => item.SmallImageURL).ToString() != "")
                                 {
                                     @Html.DisplayFor(modelItem => item.SmallImageURL);
                                 }
                                 else
                                 {
                                     @Url.Content("~/images/no_image.png");
                                 }
                                         class="thumbnail">
                                </a>
                            </div>

                            <div class="col-lg-8">

                                <p id="description">@Html.DisplayFor(modelItem => item.PartialDescription)</p>
                            </div>

                    </div>
 
                </td>

            </tr>
        }
    </tbody>

</table>


