﻿@model LinkedList<PyrusApp.Models.CraigslistAd>


<table class="display" id="resultsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().AskingPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().Notes)
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AskingPrice)
                </td>

                <td>

                        <a href=@Html.DisplayFor(modelItem => item.URL) target="_blank">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                        <div class="cityAndCategoryContainer">
                            <span class="city">@Html.DisplayFor(modelItem => item.City)</span>
                            <span class="category">@Html.DisplayFor(modelItem => item.Category)</span>
                        </div>

                        

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                    <br>
                    @Html.ActionLink("Edit Note", "EditNote", new {URL = item.URL})
                </td>

            </tr>
                            }
    </tbody>

</table>



@section scripts{



    <script>

        $(document).ready(function () {
            var table = $("#resultsTable").DataTable({
                "deferRender": true,
                "autoWidth": false,
                "columnDefs": [
                {
                    "targets": [0],
                    "width": "5%"

                },
                {
                    "targets": [1],
                    "width": "55%"
                },
                {
                    "targets": [2],
                    "width":"40%"
                }
                ]
            });

        });




    </script>
}