﻿@model PyrusApp.Models.CraigslistSearchViewModel

        <div class="col-lg-12" id="craigslistSearchDiv">

            @using (Ajax.BeginForm("Search", "Craigslist",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            OnBegin = "clearValidation",
                                            OnSuccess = "updateResults",
                                            LoadingElementId = "loading"
                                        },
                                        new { id = "craigslistSearchForm" }


                                    ))
            {
                <div class="row">
                    <div class="col-sm-4">
                          <h2 id="craigslistSearchBarTitle">Craigslist Search Aggregator</h2>
                    </div>
                </div>

                @Html.ValidationSummary(false, "", new { @class = "text-danger", id = "validationMessage" })

                <div class="row">


                    <div class="col-sm-4">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Search.Cities, new { @class = "searchLabel" })
                            <br />
                            @Html.ListBoxFor(model => model.Search.Cities, Model.Cities, new { @class = "form-control", id = "cityList", data_placeholder = "Select cities..." })
                        </div>

                        <div class="form-group">
                            @Html.Label("Price Range (USD)", new { @class = "searchLabel" })
                            <br />
                            @Html.TextBoxFor(model => model.Search.MinPrice, Model.Search.MinPrice.ToString(), new { placeholder = "Min", @class = "form-control" })
                            @Html.TextBoxFor(model => model.Search.MaxPrice, Model.Search.MaxPrice.ToString(), new { placeholder = "Max", @class = "form-control" })
                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Search.Categories, new { @class = "searchLabel" })
                            <br />
                            @Html.ListBoxFor(model => model.Search.Categories, Model.Categories, new { @class = "form-control", id = "categoryList", data_placeholder = "Select categories..." })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Search.HasImage, new { @class = "searchLabel", id = "imageOnly" })
                            @Html.CheckBoxFor(model => model.Search.HasImage, Model.Search.HasImage)
                        </div>


                    </div>
                    <div class="col-sm-4">



                        <div class="form-group">
                            @Html.LabelFor(model => model.Search.Query, new { @class = "searchLabel" })
                            @Html.TextBoxFor(model => model.Search.Query, Model.Search.Query, new { @class = "form-control" })
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#advancedSearchDialog">
                                Advanced Search Options
                            </button>
                            <input type="submit" id="craigslistSubmitButton" value="Search" class="btn btn-default" />
                                

                            
                        </div>
                    </div>
                </div>



            }
            @{Html.EndForm();}
        </div>

    <div class="col-sm-12" id="wait">
        <img src='~/images/spinner.gif' />
        <h6>Loading...</h6>
    </div>

    <div class="col-lg-12" id="searchResults"></div>
    <div id="advancedSearchOptions"></div>

     <!-- Modal -->
    <div class="modal fade" id="advancedSearchDialog" tabindex="-1" role="dialog" aria-labelledby="advancedSearchDialogTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="advancedSearchDialogTitle">Advanced Search</h3>

                </div>
                <div class="modal-body">

                    <p>
                        <div>
                            <strong>Phrase Search:</strong> <em>"low miles"</em>
                            <h6>You can use quotation marks to search for a phrase.</h6>
                        </div>
                        <div>
                            <strong>Excluding Terms:</strong> <em>honda black -red</em>
                            <h6>This search finds postings that have 'honda' and 'black' but not 'red'. </h6>
                        </div>
                        <div>
                            <strong>"OR" Search: </strong> <em>honda | toyota</em>
                            <ul>
                                <li>This search finds postings that have 'honda' or 'toyota' (or both).</li>
                            </ul>
                        </div>
                        <div>
                            <strong>Grouping: </strong> <em>red (toyota | honda) -2000 -2001</em>
                            <ul>
                                <li>You can group terms together in parenthesis when queries are complicated.</li>
                                <li>This finds listings that have 'red' and either 'honda' or 'toyota' (or both) but do not have 2000 or 2001.</li>
                            </ul>
                        </div>
                        <div>
                            <strong>Wildcards: </strong>
                            <em>
                                <ul>
                                    <li>hond* civ*  (match "honda civic", "honda civil", etc)</li>
                                    <li>wood floo* (matches "wood floors," "wood flooring", etc)</li>
                                    <li>iphone* (matches "iphone," "iphones," "iphone5," etc)</li>
                                </ul>
                            </em>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>//cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js</script>


    <script>
    $.validator.setDefaults({
        ignore: []
    });

    $(document).ready(function () {
        $("#cityList, #categoryList").chosen();
        $("#searchResults, #advancedSearchOptions").hide();

        /* code for adding spinner ,ajaxComplete and ajax start */
        $(document).ajaxStart(function () {
            $("#searchResults").hide();
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {

            $("#wait").css("display", "none");


        });
        $('[data-toggle="tooltip"]').tooltip(
            {
                trigger: 'click',
                trigger: 'hover',
                placement: 'bottom'
            })

    });

    function clearValidation() {
        $("#validationMessage ul li").remove();
    }

    function updateResults(response) {
        $("#searchResults").html(response);
        var table = $("#resultsTable").DataTable({
            "deferRender": true,
            "autoWidth": false,
            "language":
                {
                    "search": "Instant Subsearch:"
                }
            ,
            "columnDefs": [
            {
                    "targets": [0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [1],
                "width": "100%"
            }
            ]


        });
        $('div.dataTables_filter input').addClass('form-control');
        $("#resultsTable_length, #resultsTableHeader").hide();
        $("#advancedSearchOptions, #searchResults").fadeIn(2000);
    };

    </script>
}



