﻿@model IEnumerable<PyrusApp.Models.CraigslistAd>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="tableChart"></div>
<script>
    google.charts.load('current', { 'packages': ['table'] });
    google.charts.setOnLoadCallback(drawTable);

    @{
            List<object> rows = new List<object> ();

            foreach(PyrusApp.Models.CraigslistAd ad in Model)
            {
                rows.Add(new { ad.Title, ad.AskingPrice, ad.City, ad.Category, ad.TimeStamp });
            }
        }
        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Title');
            data.addColumn('number', 'Price');
            data.addColumn('string', 'City');
            data.addColumn('string', 'Category');
            data.addColumn('string', 'Time Stamp')

            alert(rowsArray);

            data.addRows(rowsArray);



        var table = new google.visualization.Table(document.getElementById('tableChart'));

            table.draw(data, { showRowNumber: true, width: '100%', height: '100%' });
        }


</script>
