﻿@model IEnumerable<PyrusApp.Models.CraigslistAd>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="timeSeries" ><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
    
    var x = {};
    var y = {};
    @{
        var sortedModel = Model.OrderBy(modelItem => modelItem.TimeStamp);
        var timeStamps = new string[@Model.Where(modelItem => modelItem.AskingPrice != null).Count()];
        var prices = new int?[@Model.Where(modelItem => modelItem.AskingPrice != null).Count()];

        int index = 0;
        for (int i = 0; i < Model.Count(); i++)
        {
            string tempTimeStamp = sortedModel.ElementAt(i).TimeStamp.Substring(0, 19);
            int? tempPrice = sortedModel.ElementAt(i).AskingPrice;

            if(tempPrice == null)
            {
                continue;
            }
            else
            {
                timeStamps[index] = tempTimeStamp;
                prices[index] = tempPrice;
                index++;
            }

        }
    }
    x = @Html.Raw(Json.Encode(timeStamps));
    y = @Html.Raw(Json.Encode(prices));


            var data = [{

            x, y, type: 'scatter'
    }]

    var layout = {
        title: 'Time Vs. Price'
    };

    Plotly.newPlot('timeSeries', data, layout);

</script>
