﻿@model PyrusApp.Models.JobSearchViewModel

@{
    ViewBag.Title = "Search";
}

<div class="row">

    @using (Ajax.BeginForm("Search", "JobSearch",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "updateResults",
                                    LoadingElementId = "loading"
                                },
                                new { id = "craigslistSearchForm", @class="form-inline"}


                            ))
    {
        <h3>Job Search</h3>

        @Html.ValidationSummary(false, "", new { @class = "text-danger", id = "validationMessage" })


        <div class="form-group">
            @Html.LabelFor(model => model.JobSearch.CityIDs)
            @Html.ListBoxFor(model => model.JobSearch.CityIDs, Model.Cities, new { @class = "form-control", id = "zipCodeList", data_placeholder = "Select cities..." })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobSearch.Query)
            @Html.TextBoxFor(model => model.JobSearch.Query, Model.JobSearch.Query, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    }
    @{Html.EndForm();}
</div>
<div class="row" id="searchResults">
</div>



@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


    <script>
    $.validator.setDefaults({
        ignore: []
    });

    $(document).ready(function () {
        $("#zipCodeList").chosen();
        $("#searchResults").hide();

        $(document).ajaxStart(function () {

            $("#searchResults").hide();
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#searchResults").fadeIn(2000);
            $("#wait").css("display", "none");
        });

    });

    function updateResults(response) {
        $("#validationMessage").hide();
        //Problem here
        $("#searchResults").html(response);
        $("#myTable").DataTable();



    };




    </script>
}


<div id="wait" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><img src='~/images/spinner.gif' width="64" height="64" /><br>Loading..</div>




