﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.searchLabel {
    font-size: 1.2em;
}

h1,
h2,
h3 {

    text-shadow: 1px 1px #ebebeb;
}


#pyrusName {
    color: orange;
    margin-bottom: 50px;
}


span.date {
    font-family: 'VT323';
    text-align-last: left;
    font-size: 0.9em;
    font-weight: 200;
}

img.itemPhoto {
    width: 100%;
    height: auto;
    min-height: 150px;
    max-width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


span.price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    //padding-left: 10px;
    padding-right: 5px;
    font-size: 1.1em;
    //color: blue;
}

span.priceNotListed {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
    font-size: 0.7em;
    color: red;
}

#craigslistSearchBarTitle {
    font-family: 'VT323';
}
#craigslistSearchForm {
    width: auto;
    height: auto;
    background-color: lightblue;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 2px #696969;
    padding-left: 15px;
    padding-right: 15px;
}



#description {
    //font-style: italic;
    text-align: justify;
    font-size: 3.0 em;
    text-indent: 10px;
    //text-transform: uppercase;
    font-weight: 400;
    color: darkblue;
    text-transform: fullsize-kana full-width;
    //font-variant: small-caps;
}

#resultsTableRow {
    padding: 15px;
}

#cityList_chosen {
    font-variant: small-caps;
}

#resultTitle {
    width: 620px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: fullsize-kana;
    font-size: 1.4em;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.dateContainer {
    text-align: left;
}



#resultsTable {
    
    //max-width: 100%;

}


#pyrusTitle {
    text-align-last: center;
    font-family: 'VT323';
    font-size: 4.6em;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

#pyrusSubTitle {
    text-align-last: center;
    font-family: 'VT323';
    font-size: 2.3em;
    font-weight: bolder;
    color: blanchedalmond;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

#navBarTitle {
    text-align-last: left;
    color: white;
    font-family: 'VT323';
    font-size: 2.3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#navBarSubTitle {
    text-align-last: left;
    font-family: 'VT323';
    font-size: 1.15em;
    font-weight: bolder;
    color: blanchedalmond;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    padding-right: 40px;
}

.navbar {
    font-family: 'VT323';
}

a.navbar-brand{
    color: white;
}


.navSubLink{
    margin-top: 7px;
}

#navBarSubTitle:hover{
   color:darkorange;
}

#imageOnly{
    padding-right:10px;
}

#craigslistSubmitButton{
    margin-left:20px;
}

#wait {
    margin-top: 20px;
    display: none;
    position: relative;
    left: 50%;
    width: 65px;
    height: 65px;
    margin-bottom: 50px;
}