﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|VT323" rel="stylesheet"> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href=@Url.Action("Index", "Home")> 
                        <text id="logo">
                            <span id="navBarTitle">Pyrus </span>
                            <span id="navBarSubTitle">Search Engine</span>
                        </text>
                    </a>
                
                    @Html.ActionLink("Craigslist Search", "Search", "Craigslist", new { area = "" }, new { @class = "navbar-brand navSubLink" })
                    @Html.ActionLink("Job Search", "Search", "JobSearch", new { area = "" }, new { @class = "navbar-brand navSubLink" })     
                    @Html.ActionLink("AboutUs", "AboutPage", "Home", new { area = "" }, new { @class = "navbar-brand navSubLink" })
                          
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*
        <footer>
            <p>&copy; @DateTime.Now.Year - Pyrus</p>
        </footer>
    </div>
        *@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/thirdParty")
    @RenderSection("scripts", required: false)

</body>
</html>
