﻿<head>
    <meta charset="utf-8" />
    <style>
        .box {
            font-size: 20px;
            margin: 30px;
            line-height: 200%;
        }

            .box .f20 {
                font-size: 30px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-514503">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#panel-756405" data-toggle="tab">About Project</a>
                        </li>
                        <li class="active">
                            <a href="#panel-88272" data-toggle="tab">About Us</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="panel-756405">
                            <div class="row clearfix">
                                <div class="box">
                                    <h3 class="text-center">
                                        <span class="f20"> Pyrus Arbitrage </span>
                                    </h3>
                                    <p class="text-align:center">
                                        For Western Oregon University CS 460-462 Software Engineering I, II and III,this project is for our Senior Capstone. We wanted to make a project that helps people search Craigslist more conveniently and also help people find jobs through three major website resources. Users are able to aggregate job and item listings and apply filters . That means, for item search (with ads generated from Craigslist.org) people can combine cities and more categories in a single search. When a search is completed, they can still enter keywords to filter the results. For the job search we combined the results from Craigslist.org, Monster.com and Indeed.com so when people use Pyrus to find a job they will see more choices.
                                    </p>
                                    <p class="text-align:center">
                                        For Project We have used Ajax ,Json ,C# ,Slack ,JQury ,HTML ,CSS , Unit Test , Selenium test and Visual Studio .
                                    </p>

                                    <p class="text-align:center">
                                        Jonathan Elliot winning the best algorithm in the class.
                                    </p>
                                    <div class="container">
                                        <div class="row clearfix">
                                            <div class="col-md-12 column">
                                                <a href="https://bitbucket.org/tsoum13/pyrus" target="_blank">Our Repository </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="panel-88272">
                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <div class="panel-group" id="panel-21274">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-21274" href="#panel-element-678057">Terence Soum</a>
                                                </div>
                                                <div id="panel-element-678057" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="panel-body" align="center">
                                                            <img alt="300x300" src="~/images/head.jpg" class="img-circle" height="50%" width="50%" />
                                                            <h3 class="text-center">
                                                                Terence Soum
                                                            </h3>
                                                            <h3 class="text-center">
                                                                Software Engeneer
                                                            </h3>
                                                            <h3 class="text-center">
                                                                (503) 816-8680
                                                            </h3>
                                                            <h3 class="text-center">
                                                                tsoum13@mail.wou.edu
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-21274" href="#panel-element-584125"> Jiaxin Wang</a>
                                                </div>
                                                <div id="panel-element-584125" class="panel-collapse collapse">
                                                    <div class="panel-body" align="center">
                                                        <img alt="300x300" src="~/images/head.jpg" class="img-circle" height="50%" width="50%" />
                                                        <h3 class="text-center">
                                                            Jiaxin Wang
                                                        </h3>
                                                        <h3 class="text-center">
                                                            Software Engeneer
                                                        </h3>
                                                        <h3 class="text-center">
                                                            (503) 999-3154
                                                        </h3>
                                                        <h3 class="text-center">
                                                            jiwang14@mail.wou.edu
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-21274" href="#panel-element-444510">Jonathan Elliot</a>
                                                </div>
                                                <div id="panel-element-444510" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="panel-body" align="center">
                                                            <img alt="300x300" src="~/images/head.jpg" class="img-circle" height="50%" width="50%" />

                                                            <h3 class="text-center">
                                                                Jonathan Elliot
                                                            </h3>
                                                            <h3 class="text-center">
                                                                Software Engeneer
                                                            </h3>
                                                            <h3 class="text-center">
                                                                (509) 392-2273
                                                            </h3>
                                                            <h3 class="text-center">
                                                                jelliott15@wou.edu
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>