﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Pyrus</title>
    <style>
        .jumbotron {
            background: linear-gradient(to right, #77C9D4, #57BC90);
            max-height: 240px;
            color: #fff;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center">
        <span id="pyrusTitle">Pyrus</span>
        <span id="pyrusSubTitle">Search Engine</span>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/images/portlandImage.jpg" alt="Portland" style="width:100%; height:350px">
                        </div>

                        <div class="item">
                            <img src="~/images/lasvegasImage.jpg" alt="Las Vegas" style="width:100%; height:350px">
                        </div>

                        <div class="item">
                            <img src="~/images/newyorkImage.jpg" alt="New York" style="width:100%; height:350px">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </a>
            <h3>
                @Html.ActionLink("Craigslist Search", "Search", "Craigslist")
            </h3>
            <p>Search for multiple items from multiple cities efficiently from Craigslist</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel2" data-slide-to="1"></li>
                        <li data-target="#myCarousel2" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active" style="min-height:inherit">
                            <img src="~/images/Craigslist2.png" alt="Craigslist" style="width:100%; height:350px">
                        </div>

                        <div class="item">
                            <img src="~/images/Monster2.png" alt="Monster" style="width:100%; height:350px ">
                        </div>

                        <div class="item">
                            <img src="~/images/Indeed2.png" alt="Indeed" style="width:100%; height:350px ">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </a>
            <h3>
                @Html.ActionLink("Job Search", "Search", "JobSearch")
            </h3>
            <p>Search for your future job conveniently through one search while we gather results from Craigslist, Monster, and Indeed.</p>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <center>
            <h2>Lets get you started!</h2>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class= "btn btn-default", id = "registerLink" })
        </center>
    </div>


</body>
</html>